{% extends 'base.html' %}
{% load static %}
{% block body %}
  {% if messages %}
        {% for msg in messages %} 
        <h3 class="text-center text-danger" id="alert">{{msg}} </h3>
     {% endfor %}
        {% endif %}
       <div class="section-title-01 honmob">
            <div class="bg_parallax image_02_parallax"></div>
            <div class="opacy_bg_02">
                <div class="container">
                    <h1>Change Password</h1>
                    <div class="crumbs">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li>/</li>
                            <li>Change Password</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
       
        <section class="content-central">
            <div class="content_info">
                <div class="paddings-mini">
                    <div class="container">
                        <div class="row portfolioContainer">
                            <div class="col-xs-12 col-sm-3 col-md-3 profile1">
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 profile1" style="min-height: 300px;">
                                <div class="thinborder-ontop">
                                    <h3>Change Password</h3>
                                    <form action="" method="POST" id="userloginform">   
                                        {% csrf_token %}     

                                        <div class="form-group row">
                                            <label for="password"
                                                class="col-md-4 col-form-label text-md-right">Old password</label>
                                            <div class="col-md-6">
                                                <input id="password" type="password" class="form-control" name="cupassword" required="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="password"
                                                class="col-md-4 col-form-label text-md-right">New Password</label>
                                            <div class="col-md-6">
                                                <input id="password" type="password" class="form-control" name="password" required="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="password"
                                                class="col-md-4 col-form-label text-md-right">Confirm New Password</label>
                                            <div class="col-md-6">
                                                <input id="password" type="password" class="form-control" name="cpassword" required="">
                                            </div>
                                        </div>
                                        {% if messages %}
                                        {% for msg in messages %}
                                        <h5 class="text-center text-danger"id="alert">{{msg}} </h5>
                                        {% endfor %}
                                        {% endif %}
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn-primary pull-right">Save</button>
                                            </div>
                                        </div>
                                        
                                    </form>
                                </div>                                
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 profile1">
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="section-twitter">
                <i class="fa fa-twitter icon-big"></i>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>           
        </section>
        {% endblock body %}