{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div id="layout">
        <div class="info-head">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="visible-md visible-lg text-left">
                            <li><a href="tel:+911234567890"><i class="fa fa-phone"></i> +91-1234567890</a></li>
                            <li><a href="mailto:contact@surfsidemedia.in"><i class="fa fa-envelope"></i>
                                    contact@surfsidemedia.in</a></li>
                        </ul>
                        <ul class="visible-xs visible-sm">
                            <li class="text-left"><a href="tel:+911234567890"><i class="fa fa-phone"></i>
                                    +91-1234567890</a></li>
                            <li class="text-right"><a href="{% url 'change_location' %}"><i class="fa fa-map-marker"></i>
                                    Faridabad, Haryana</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="visible-md visible-lg text-right">
                            <li><i class="fa fa-comment"></i> Live Chat</li>
                            <li><a href="{% url 'change_location' %}"><i class="fa fa-map-marker"></i> Faridabad, Haryana</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-title-01 honmob">
            <div class="bg_parallax image_01_parallax"></div>
            <div class="opacy_bg_02">
                <div class="container">
                    <h1>All Services</h1>
                    <div class="crumbs">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li>/</li>
                            <li>Service Categories</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="content-central">
            <div class="container">
                <div class="row" style="margin-top: -30px;">
                    <div class="titles">
                        <h2>All <span>Services</span></h2>
                        <i class="fa fa-plane"></i>
                        <hr class="tall">
                    </div>
                </div>
            </div>
            <div class="content_info" style="margin-top: -70px;">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="services-lines full-services">
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="AC"></a></i>
                                    <h5>AC</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Beauty"></a></i>
                                    <h5>Beauty</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Plumbing"></a></i>
                                    <h5>Plumbing</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Electrical"></a></i>
                                    <h5>Electrical</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Shower Filter"></a></i>
                                    <h5>Shower Filter</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Home Cleaning"></a></i>
                                    <h5>Home Cleaning</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Carpentry"></a></i>
                                    <h5>Carpentry</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Pest Control"></a></i>
                                    <h5>Pest Control</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Chimney Hob"></a></i>
                                    <h5>Chimney Hob</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Water Purifier"></a></i>
                                    <h5>Water Purifier</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Computer Repair"></a></i>
                                    <h5>Computer Repair</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="TV"></a></i>
                                    <h5>TV</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Refrigerator"></a></i>
                                    <h5>Refrigerator</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Geyser"></a></i>
                                    <h5>Geyser</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Car"></a></i>
                                    <h5>Car</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Document"></a></i>
                                    <h5>Document</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Movers &amp; Packers"></a></i>
                                    <h5>Movers &amp; Packers</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Home Automation"></a></i>
                                    <h5>Home Automation</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Laundry"></a></i>
                                    <h5>Laundry</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Painting"></a></i>
                                    <h5>Painting</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Washing Machine"></a></i>
                                    <h5>Washing Machine</h5>
                                </div>
                            </li>
                            <li>
                                <div class="item-service-line">
                                    <i class="fa"><a href="{% url 'service_by_category' %}"><img class="icon-img"
                                                src="images/sercat/service-icon.png" alt="Microwave Oven"></a></i>
                                    <h5>Microwave Oven</h5>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content_info content_resalt">
                <div class="container">
                    <div class="row">
                        <div class="titles">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </div>
{% endblock body %}